/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
#/.pnp.*

# Compilation bundle
build
dist

# Node deps
node_modules

# Logs
logs/**/*log*
*.log
payloads

# Dev env
.vscode
.idea
.ssl
scripts/sandbox.ts

# Private config
.env*
!.env*.example
