nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='/')
      img(src="https://smartblock-static.s3.amazonaws.com/public-assets/smartblock-logo.svg", alt="Smartblock", height='45')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#apiViewsNavBarLinks' aria-controls='apiViewsNavBarLinks' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #apiViewsNavBarLinks.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='#' tabindex='-1' aria-disabled='false') Webhook Receptor
